<h1>Passport Login</h1>
<% if (messages.error) { %> <%= messages.error %> <% } %>
<style>
    .signup{
        display: inline;
        height:10px;
        width:100px;
        padding: 5px;
        margin: 5px;
        background-color:pink;
    }
  </style>
<form action="/login" method="POST">
  <div class=signup>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div class=signup>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />
  </div>
  <button type="submit">Login</button>
</form>
<a href="/register">Sign up</a>